.logo{
    width: 100px;
}

.header{
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header-menu a{
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 10px 20px;
    color: #131313;
    font-weight: bold;
    display: block;
}

@media (max-width:700px){
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }

    .header a{
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .header-menu{
        justify-content: center;
    }
}